
#wrapper {
    min-width: 1170px;
}

#container {
    margin: 0 auto;
    padding: 0 70px;
}

#header-title {
    color: #fff;
    height: 100px;
    background-color: #0275d8;
    margin: 0 0 20px 0;
    padding-top: 15px;
    text-align: center;
}

#main-panel-btns {
    margin-bottom: 50px;
}

#select-storage-container {
    max-width: 300px;
    display: inline;
}

.action-btns button{
    margin-bottom: 5px;
}

.select-of-types {
    width: 100px;
}

.required {
    color: red;
}

.pr-0 {
    padding-right: 0px !important;
}
